body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 500px;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 400px;
    max-height: 680px;
    width: 400px;
    height: 680px;
    background-color: aqua;
}

.iconsBtn {
    width: 30px;
    height: 30px;
}

header  {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header h2 {
    font-size: 16px;
}

.top {
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-around;
    background-color: pink;
    align-items: flex-end;
}

#face {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid white;
}

.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 380px;
    background-color: aquamarine;
    margin: 10px auto;
   
}

.linha1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20%;
    gap: 20px;
}

.linha1 button {
    width: 60px;
    height: 58px;
    font-size: 8px;
    margin: 0 auto;
    padding: 0;
    border-radius: 10px;
    border: 0 transparent;
    box-shadow: 1px 2px 5px black;
}

.linha1 button h4 {
    margin: 0;
}

.letraP {
    font-size: 6px;
}

#registers {
    display: flex;
    gap: 10px;
    max-width: 380px;
}

#registers a{
    text-decoration: none;
    color: black;
}

#registers h2 {    
    font-size: 18px;
    font-weight: 100;
    border-radius: 10px;
    margin: 10px;
    width: 160px;
    max-width: 160px;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0.5px 0.5px 5px 5px rgb(136, 136, 206);
    background-color: rgb(225, 231, 236);
    padding: 5px;
}

#registers a h2{
    background-color: rgb(189, 186, 205);
    box-shadow: 0 0;
    width:160px;
    max-width: 160px;
}

#infos {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

#infos h2 {
    margin: 0 20px;
}

#infos .inputs {
    display: flex;
    background-color: rgb(242, 234, 234);
    margin: 0px auto;
    width: 380px;
    justify-content: space-between;
    border-radius: 10px;
    padding: 0px;
    align-items: center;
}

.mais {
    font-size: 30px;
}

footer {
    display: flex;
    background-color: azure;
    border-radius: 20px 20px 0 0;
    justify-content: space-around;
    position: relative;
    align-items: flex-end;
}

footer .itemFooter {
    font-size: 8px;
    margin: 0 auto;
    text-align: center;
}

.itemFooter h4 {
    margin: 0 auto;
    text-align: center;
}

.itemFooter a {
    text-decoration: none;
    color: black;
}

.img {   
    margin: 0 auto;
    z-index: 10;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img img {
    border-radius: 50%;
    height: 60px;
    max-height: 100px;    
    z-index: 10;    
}