body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 430px;
    max-height: 800px;
    width: 430px;
    height: 700px;
    background-color: aqua;
}

.iconsBtn {
    width: 30px;
    height: 30px;
}