body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 430px;
    max-height: 800px;
    width: 400px;
    height: 680px;
    background-color: aqua;
}

.iconsBtn {
    width: 30px;
    height: 30px;
}

header  {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.top, .bottom {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    justify-content: space-around;
    background-color: pink;
    align-items: flex-end;
}

.top {
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

.bottom {
    width: 380px;
    flex-direction: column;
    margin: 0 auto;
}

.bottom h2 {
    font-size: 16px;
}

.top h2 {
    padding: 0 80px;
    font-size: 14px;
}

.meio {
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0 auto;
    text-align: center;
}

.meio {
    display: flex;
    font-size: 12px;
    flex-direction: row;
    width: 360px;
    justify-content: space-between;
}

#face {
    width: 80px;
    height: 80px;
    border-radius: 50%;   
    border: 5px solid white;
}

.baixo {
    width: 300px;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.baixo h2 {
 margin: 0;
}

.baixo h2:last-child {
    background-color: rgb(212, 27, 58);
    width: 60px;
    border-radius: 5%;
    padding: 2px;
    justify-content: center;
    margin: 0 auto;
}

.dados {
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.peso {
    width: 180px;
    background-color: aliceblue;
    margin: 0;
    margin-top: 5px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.peso > div {
    display: flex;
    flex-direction: row;
    width: 150px;
    align-items: center;
    justify-content: space-around;
}

.peso h1 {
    text-align: center;
    font-size: 30px;
    margin: 0;
}

.altura {
    width: 180px;
    background-color: aliceblue;
    margin: 5px 0;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.altura > div {
    display: flex;
    flex-direction: row;
    width: 150px;
    align-items: center;
    justify-content: space-around;
}

.altura h1 {
    text-align: center;
    font-size: 30px;
    margin: 0;
}

.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    height: 500px;
    background-color: aquamarine;
    margin: 0 auto;
    gap: 20px 50px;
}

.linha1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20%;
    gap: 50px 50px;
}

.linha1 button {
    width: 60px;
    height: 58px;
    font-size: 8px;
    margin: 0 auto;
    padding: 0;
    border-radius: 10px;
    border: 0 transparent;
    box-shadow: 1px 2px 5px black;
}

.linha1 button h4 {
    margin: 0;
}

.letraP {
    font-size: 6px;
}

footer {
    display: flex;
    background-color: azure;
    border-radius: 20px 20px 0 0;
    justify-content: space-around;
    position: relative;
    align-items: flex-end;
}

footer .itemFooter {
    font-size: 8px;
    margin: 0 auto;
    text-align: center;
}

.itemFooter h4 {
    margin: 0 auto;
    text-align: center;
}

.itemFooter a {
    text-decoration: none;
    color: black;
}

.img {   
    margin: 0 auto;
    z-index: 10;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img img {
    border-radius: 50%;
    height: 60px;
    max-height: 100px;    
    z-index: 10;    
}